.card-btn {
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: rgba($color-blue, 0.045);
  transition: background-color ease-in-out 0.27s;
  &:hover,
  &:focus-visible {
    background-color: rgba($color-blue, 0.095);
  }
}
.card {
  font-size: 95%;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: $color-dark;

  .card-title {
    font-size: 1.15rem;
    margin: 0;
  }

  small {
    text-transform: uppercase;
    font-size: 75%;
    font-weight: bold;
  }
}
