@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");

$font-family-base: "Poppins", sans-serif;
$font-family-alt: "Luckiest Guy", cursive;
$color-dark: #212529;
$color-yellow: #ffe75e;
$color-blue: #0d6efd;

body {
  padding-top: 3rem;
  background-color: lighten($color-yellow, 27%);
  font-family: $font-family-base;
}

@import "../components/loading/loading.scss";
@import "typography.scss";
@import "card.scss";
@import "display-details.scss";
@import "forms.scss";
@import "table.scss";
@import "view-details.scss";
