.table {
  tr:nth-of-type(odd) {
    td {
      background-color: rgba($color-blue, 0.065);
    }
  }
  tr:hover {
    td {
      background-color: rgba($color-blue, 0.125);
    }
  }
  td {
    background-color: rgba($color-blue, 0.045);
    transition: all ease-in-out 0.27s;
  }
}
.table-light {
 th {
  background-color: rgba($color-blue, 0.125);
 } 
}
.table-dark {
  th {
    padding: 0.75rem 1rem;
    background-color: $color-dark;
    .btn-link {
      color: #fff;
      font-weight: bold;
    }
  }
}
