h1 {
  font-family: $font-family-alt;
  color: $color-yellow;
  font-size: 3rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #2a68db;
}
.highlight {
  background-color: $color-yellow;
}
